.root {
  font-family: 'Inter', sans-serif;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #000000;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}