.popup__form-item {
  padding: 0 0 8px;
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__form-item:focus {
  outline: none;
}