.popup__container {
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  cursor: initial;
  justify-content: flex-end;
}

@media screen and (max-width: 1280px) {
  .popup__container {
    max-width: 430px;
  }
}

@media screen and (max-width: 520px) {
  .popup__container {
    width: 88.125%;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    min-height: 322px;
  }
}